<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Run with Friends</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>

    <!-- Navigation Bar-->
    <nav>
        <div class="container">
            <div class="nav-wrapper">
                <a href="/feature" class="brand-logo">Races With Friends</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/enterrace">Add New Run</a></li>
                    <li><a href="/comingsoon">Profile</a></li>
                </ul>
            </div>
    </nav>

    <!-- Page Layout here -->
    <div class="wrapper">
        <div class="row">
            <div class="container">
                <div class="col s12 m8 l9">

                    <h1>Under Construction!</h1>
                    <p> Please check back later</p>
                </div>
            </div>
        </div>
    </div>

    <!-- getting spacing right for stinky footer -->
    <div class="row"><br></div>
    <div class="row"><br></div>
    <div class="row"><br></div>
    <div class="row"><br></div>
    <div class="row"><br></div>
    <div class="row"><br></div>
    <div class="row"><br></div>
    <div class="row"><br></div>
    <div class="row"><br></div>
    <div class="row"><br></div>
    <div class="row"><br></div>
    <br>




    <!-- footer content -->
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <p class="grey-text text-lighten-4">Super important and informational racing tidbits.</p>
                    <br>
                    <p class="grey-text text-lighten-4">Just keep running, just keep running...</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="/enterrace">Add New Run</a></li>
                        <li><a class="grey-text text-lighten-3" href="/comingsoon">Create New Friend Group</a></li>
                        <li><a class="grey-text text-lighten-3"
                                href="https://github.com/AmandaAmos/RaceswithFriends">Git Repo</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </footer>

</body>

</html>