<!DOCTYPE html>
<html lang="en">

<head>
  <title>Add a New Run</title>
  <meta name="viewport" content="width = device-width, initial-scale = 1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
  <link rel="stylesheet" href="./style.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
  </script>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script>
    $(document).ready(function () {
      $('select').material_select();
    });
  </script>
</head>

<body>

  <!-- Navigation Bar-->
  <nav>
    <nav class="red accent-4">
      <div class="container">
        <div class="nav-wrapper">
          <a href="/index" class="brand-logo">Races With Friends</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/index">Home</a></li>
            <li><a href="/comingsoon">Profile</a></li>
          </ul>
        </div>
    </nav>
  </nav>

  <div class="container">
    <h1>Enter New Run</h1>


    <div class="row">
      <div class="input-field col s6">
        <input value="" id="date" type="text" class="validate">
        <label class="active" for="date">Date(mm/dd/yy)</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <input value="" id="distance" type="text" class="validate">
        <label class="active" for="distance">Total Distance</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <input value="" id="time" type="text" class="validate">
        <label class="active" for="time">Total Time</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <select>
          <optgroup label="team 1">
            <option value="1">Phoenix</option>
            <option value="2">Prescott</option>
            <option value="2">Tucson</option>
          </optgroup>
          <optgroup label="team 2">
            <option value="1">Phoenix</option>
            <option value="2">Prescott</option>
            <option value="2">Tucson</option>
          </optgroup>
        </select>
        <label>Location - Coming Soon</label>
      </div>

      <div class="row">
        <!-- <div class="input-field col s6">
          <select multiple>
            <option value="" disabled selected>Choose your Friend/Team</option>
            <option value="1">Friend 1</option>
            <option value="2">Friend 2</option>
            <option value="3">Team 1</option>
            <option value="4">Team 2</option>
          </select>
          <label>Add Friend/Team to Run(optional)</label>
        </div> -->
      </div>
      <br>
      <br>
      <div class="row">
        <button class="btn waves-effect waves-light" type="submit" name="action" id="runSubmit">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
      </form>
    </div>
  </div>
<!-- footer content -->
<footer class="page-footer" style="background-color: #d50000;">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <a href="https://www.runtastic.com/blog/en/tips-on-how-to-increase-running-stamina/">
          <p class="grey-text text-lighten-4">Endurance running.</p>
        </a>
      </div>
      <div class="col l4 offset-l2 s12">
        <ul>
          <li><a class="grey-text text-lighten-3" href="enterRace.html">Add New Run</a></li>
          <li><a class="grey-text text-lighten-3" href="comingSoon.html">Create New Friend Group</a></li>
          <li><a class="grey-text text-lighten-3" href="https://github.com/AmandaAmos/RaceswithFriends">Git Repo</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- getting spacing right for stinky footer -->
  <div class="row">
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>

  <!-- footer content -->
  
  <footer class="page-footer" style="background-color: #d50000;">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <a href="https://www.runtastic.com/blog/en/tips-on-how-to-increase-running-stamina/">
            <p class="grey-text text-lighten-4">Endurance running.</p>
          </a>
        </div>
        <div class="col l4 offset-l2 s12">
          <ul>
            <li><a class="grey-text text-lighten-3" href="/enterrace">Add New Run</a></li>
            <li><a class="grey-text text-lighten-3" href="/newgroup">Create New Friend Group</a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/AmandaAmos/RaceswithFriends">Git Repo</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>

<script>
  var createRun = function (data) {
    return $.ajax({
      url: "/api/run/",
      type: "POST",
      data: data
    })
  }

  $(document).on("click", "#runSubmit", function (event) {
    event.preventDefault()
    var runDate = $("#date").val().trim();
    var runDistance = $("#distance").val().trim();
    var runTime = $("#time").val().trim();
    if (runDate.length < 1) {
      $("#date").focus();
    } else if (runDistance.length < 1) {
      $("#distance").focus();
    } else if (runTime.length < 1) {
      $("#time").focus();
    } else {
      var data = {
        date: runDate,
        distance: runDistance,
        time: runTime
      }
      createRun(data);
    }
  })
</script>

</html>