<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Run with Friends</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>

    <!-- Navigation Bar-->
    <nav>
        <div class="container">
            <div class="nav-wrapper">
                <a href="/feature" class="brand-logo">Races With Friends</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/enterrace">Add New Run</a></li>
                    <li><a href="/comingsoon">Profile</a></li>
                </ul>
            </div>
    </nav>

    <!-- Page Layout here -->
    <div class="wrapper">
        <div class="row">


            <div class="container">
                <div class="col s12 m8 l9">
                    <!-- This content will be:
            9-columns-wide on large screens,
            8-columns-wide on medium screens,
            12-columns-wide on small screens  -->

                    <h1>Your Run History</h1>
                    <ul class="collection">
                        <li class="collection-item avatar">
                            <img src="../assets/images/location.png" alt="location" class="circle">
                            <span class="dateRun">Date:</span> 5/26/2020 <br>
                            <span class="location">Location:</span> Sabino Canyon<br>
                            <span class="totalDistance">Total Distance (miles): 2.0 </span><br>
                            <!-- <a href="#!" class="secondary-content"><i class="material-icons">Best Min per Mile</i></a> -->
                        </li>
                        <li class="collection-item avatar">
                            <img src="../assets/images/location.png" alt="location" class="circle">
                            <span class="dateRun">Date: </span> 5/20/2020 <br>
                            <span class="location">Location: </span> Tumamoc Hill<br>
                            <span class="totalDistance">Total Distance (miles):</span> 1.8<br>
                            <!-- <a href="#!" class="secondary-content"><i class="material-icons">Longest Run</i></a> -->
                        </li>
                        <li class="collection-item avatar">
                            <img src="../assets/images/location.png" alt="location" class="circle">
                            <span class="dateRun">Date: </span>5/15/20 <br>
                            <span class="location">Location: </span>Apartment Building<br>
                            <span class="totalDistance">Total Distance  (miles):</span> 0.8<br>
                            <!-- <a href="#!" class="secondary-content"><i class="material-icons">Fastest Time</i></a> -->
                        </li>
                        <li class="collection-item avatar">
                            <img src="../assets/images/location.png" alt="location" class="circle">
                            <span class="dateRun">Date: </span> 5/12/20<br>
                            <span class="location">Location: </span> Couch to Fridge<br>
                            <span class="totalDistance">Total Distance  (miles):</span>0.1<br>
                            <!-- <a href="#!" class="secondary-content"><i class="material-icons">Most Recent Run</i></a> -->
                        </li>
                    </ul>

                </div>
            </div>
            <!-- sidebar content -->
            <div class="col s12 m4 l3" id="DBsidebar">
                <!-- This content will be:
                 3-columns-wide on large screens,
                  4-columns-wide on medium screens,
                12-columns-wide on small screens  -->
                <h4>Rankings</h4>
                <hr>
                <p>Friend Rankings</p>
                <br>
                <p>National Rankings</p>
                <br>


            </div>
        </div>
    </div>



    <!-- footer content -->
    <footer class="page-footer" id="featureFooter">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <p class="grey-text text-lighten-4">Super important and informational racing tidbits.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="/enterrace">Add New Run</a></li>
                        <li><a class="grey-text text-lighten-3" href="/comingsoon">Create New Friend Group</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://github.com/AmandaAmos/RaceswithFriends">Git Repo</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </footer>

</body>

</html>